@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Funnel+Display:wght@300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Funnel+Display:wght@300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
video{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 9999;
}
.main{
	background-color: black;
	min-height: 100vh;
	height: auto;
	position: relative;
	overflow: hidden;
}
.left-search{
	width: 38%;
	background: url(searchbg.jpg)center/cover no-repeat;
	height: auto;
	min-height: 100vh;
	position:fixed;
	top: 0;
	left: 0;
	z-index: 29;
	transform: translateX(-100%);
	transition: all .3s ease-in-out;
}
.comeleft{
	transform: translateX(0%);
}
.left-search::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0,.5);
}
.for-search input{
	width: 49%;
	outline: none;
	border:0px;
	border-radius: 30px;
	height:55px;
	background: transparent;
	font-size: 19px;
	background: white;
	padding: 5px 10px;
	padding-left: 20px;
	color: grey;
	position: relative;
}
.for-search .search-icon{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: red;
	font-size: 30px;
	color: white;
	position: absolute;
	right: 22%;
  top: 14%;
 	transform: translate(-26px, -2px);
	padding: 2%;
}
.for-movies{
	width: 100%;
	height: auto;
	min-height: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 10%;
}
.for-movies .genres{
	color: white;
	font-family: "Rubik", sans-serif;
	font-size: 25px;
	width: fit-content;
	position: relative;
	height: fit-content;
	font-weight: 500;
	display: inline;
	cursor: pointer;
}
.genres::before{

  content: "";
  z-index: -1;
  width:0%;	
  height: 143%;
  background: black;
  position: absolute;
  display: inline;
  transform: translate(-11px, -5px);
  background: linear-gradient(294deg, rgba(255,0,0,0.6755077030812324) 0%, rgba(107,17,203,0.6558998599439776) 100%);
  opacity: .7;
  border: 3px solid #f11717 ;
  border-radius: 6px;
  transition: all .4s ease-in-out;
}
.sign-out{
	width: 100%;
	height: auto;
	min-height: 10vh;
	font-size:  20px;;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40%;
}
.sign-out button{
	
	text-align: center;
	padding-left: 0px;
	outline: none;
	border: none;
	position: relative;
	background: white;
	color: black;
	overflow: hidden;
	border-radius: 4px;
}
.out-cs{
	width: 100%;
	padding-top: 15px;
	height: 100%;
	z-index: 2;
	font-size: 20px;
	font-weight: 600;
	display: inline-block;
	position: relative;
	color: black;
	background: transparent;
	font-family: "Roboto",sans-serif;
	transition: all .1s ease-in-out;
}
.sign-out button::before{
	content: "";
	position: absolute;
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	z-index:0;
	background: linear-gradient(90deg, rgba(255,0,74,1) 0%, rgba(95,17,203,1) 100%);
	transition: all  .4s ease-in-out;
}
.sign-out button:hover::before ,.out-cs:hover{
	width: 100%;

	color: white;
}
.sign-out button:hover{
	width: 160px ;
	box-shadow: 0px -1px 35px 10px rgb(255,0,74);
	border-radius: 6px;
}

.genres:hover::before{
	width: 125%;
}
.long-g:hover::before{
	width: 110%;
}
.left-movies, .right-movies{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 30px;
	z-index: 1;
}
.navigation{
	overflow: hidden;
	width: 100%;
	height: 80px;
	background: black;
	display: flex;
	align-items: center;
	position: fixed;
	z-index:30;
	float: left;
	background: rgba(11, 11, 11, 0.76);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(2.2px);
}
.menu,.logo,.profiles{
	width: 33.3%;
	display: flex;
	align-items: center;

}
.for-search{
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;
	margin-top: 130px;
}
#search{
	height: 40px;
	width: 40px;
	margin-left:20px ;
	display: inline-block;
}
.mn{
	color: white;
	display: inline-block;
	font-size: 20px	;
	font-weight: 700;
	margin-left: 5px;
}
.logo{
	justify-content: center	;
}
#netf{
	width: 40%;
	height: 100%;
}
.profiles{
	display: flex;
	justify-content: flex-end;
}
.friends{
	margin-right: 20px;
	color: red;
	font-size: 30px;
}
#noti{
	width: 30px;
	height: 30px;
}
#pf{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-right: 45px;
	margin-left: 30px;
}
.intro{
	min-height: 900px;
	height: auto;
	background: url(home3.jpg) center/cover no-repeat;
	transition: all .2s ease-in-out;
}
.intro1{
		min-height: 900px;
	height: auto;
	background: url(home1.jpg) center/cover no-repeat;
	transition: all .2s ease-in-out;
}
.intro2{
	min-height: 900px;
	height: auto;
	background: url(home2.jpg) center/cover no-repeat;
	transition: all .2s ease-in-out;
}
.text{
	height:900px;
	width: 100%;
}
.content{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.50); 
	padding: 70px;
	padding-top: 300px;

}
#title, #title2{
	transition: all .2s ease-in-out;
}
.content h1{
	margin-bottom: 34px;
	font-family: "Rubik", sans-serif;
  	font-optical-sizing: auto;
  	font-weight:700;
  	font-style: normal;
	font-size:85px;
	color: #fff;
	display: block;
}
#title{
	margin-bottom: 0px;
}
button {
  background-color:#ff0a09;
  color: white;
  padding-left: 14px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 150px;
  height: 55px;
  position: relative;
  transition: all 0.3s ease-in-out; 
}

.first-button:hover {
  background-color: #cc1a1a;
  box-shadow: 0 0 8px #fc7272;
}
.bx-play,.bx-list-plus{
	left: 0%;
	bottom: 15%	;
	position: absolute;
	color: white;
	font-size: 38px !important;
	display: inline-block;
}
.bx-list-plus{
	left: 10% !important;
}
.bx-play{
	left: 15% !important;
}
.second-button{
	background-color: #121415;
	color: grey;
	padding-left: 15px;
	margin-left: 20px;
}
.overview{
	padding-top:20px ;
	width: 100%;
	height: 46%;
	display: flex;
	position: relative;
	align-items: center;
	gap: 15px;
}
.over-text{
	font-family: "Rubik", sans-serif;
	color: white;
	position: absolute;
	font-size: 20px;
	top: 15%;
}
.overview img{
	width: 170px;
	height: 117px;
	border-radius: 20px;

}

.continue-watching{
	margin-top: 30px;
	width: 100%;
	padding-left: 30px;
	padding-top: 20px;
	height: auto;
	display: flex;
	align-items: flex-start; 
	gap: 20px;
	min-height: 70vh;
}
.e1,.e2,.e3,.e4{
	display: inline-block;
	position: absolute;
	bottom: 3%;
	color: white;
	font-size: 20px;
	font-weight: 600;
	font-family: "Rubik", sans-serif;
	cursor: pointer;
}
.e1{
	left: 0%;
}
.e2{
	left: 5%;
}
.e3{
	left: 11%;
}
.e4{
	left: 15%;
}
.e1,.e2:hover,.e3:hover,.e4:hover{
	color: red;
}


.continue-text{
	color: white;
	padding-left: 10px;
	display: inline-block;
	font-family: "Rubik" ,sans-serif;
	transform: translateX(-111%);
	transition: all .5s ease-in-out;
	animation: textanim 1s ease-in forwards;
	animation-iteration-count: 1;
}
 @keyframes textanim{
 	100%{
 		transform: translateX(0%);
 	}
 }
i{
	color: red;
	font-family:auto;
	font-size:40px ;
	font-weight: 700;
	z-index: 5;
	display: inline-block;
	margin-left: 0px;
}
.poster{
	overflow: hidden;
	flex-basis: 50%;
	width: 50%;
	height: 100%;
}
.watch{
	position: relative;
	margin-top:20px;
	width: 800px;
	height: 600px;
	border-radius: 2rem;
}
.line{
	position: relative;
 	top: -20px;
	left: 0px;
 	width: 690px;
	height: 30px;
}
.about-movie{
	position: relative;
	width:50%;
	color: white;
	min-height: 600px;
	height: auto;
	padding: 20px;
}
.Title-movie{
	font-family: "Rubik", sans-serif;
	font-size: 40px;
}
.icons-cont{
	width: 100%;
	height: 90px;
	padding: 20px;
	padding-left: 0px;
	display: flex;
	align-items: center;

}
.bxs-time-five{
	color: white;
	font-size:43px;
}
.time-movie{
	display: inline-block;
	font-size: 18px;
	margin-left: 10px;
	font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}
.bxs-star{
	margin-left: 20px;
	font-size:39px;
	color: #fdcc38;
}
.rating{
	font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18px;
}
.last-cont{
	padding-right: 40px;
}
.story-endgame{
	font-size: 25px;
	 font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #b6b6b6;
}
.Keep-w,.mylist2{
	margin-top: 10px;
	width: 220px;
}
.mylist2{
	margin-left: 10px;
	background-color: #17191a;
}
.movie-list{
	width: 100%;
	height: auto;
	min-height: 70vh;
	margin-bottom: 5%;
}
.movies{
	display: flex;
	flex-wrap:wrap ;
	justify-content: center;
	align-items: center;
	gap: 30px;
	row-gap: 70px;
 	width: 100%;
 	height: auto;
 	min-height: 900px;
}
.title-for-movie{
	width: 100%;
	height:auto;
	min-height: 200px;
}
.group-m{
	flex-basis:10% ;
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	flex-direction: column;
	height:auto;
	min-height: 500px;
	width:auto;
	min-width: 300px;
}
.group-m img{
	width: 100%;
	height: 100%;
	transition: .4s ease-in-out;
}
.movie1,.movie2,.movie3,.movie4,.movie5,.movie6,.movie7,.movie8,.movie9,.movie10{
	transition: .5s ease-in-out;
	position: relative;
	cursor: pointer;
}
.movie1:hover,.movie2:hover,.movie3:hover,.movie4:hover,.movie5:hover,.movie6:hover,.movie7:hover,.movie8:hover,.movie9:hover,.movie10:hover{
	transform: translateY(-20px);
}
.group-m h1, .group-m span{
	color: white;
	font-family: "Roboto",sans-serif;
}
.group-m h1{
	margin-bottom: 5px;
	font-size: 25px;
}
.image-group{
	overflow: hidden;
	flex-basis: 70%;
}
.Movies-discription{
	flex-basis: 30%;
}
.Movies-discription .bx-time-five{
	font-size: 19px;
	color: white;
	color: red;
	margin-left: 5px;
	display: inline-block;
}
.title-for-movie{
	padding: 10px 133px;
	color: white;
	display: flex;
	align-items: center;
}
.ap{
	color: red;
}
.Up-coming{
	width: 100%;
	height: auto;
	min-height: 50vh;
}
.upper-text{
	width: 50%;
	overflow: hidden;
	height: 10em;
	margin: 10px 125px;
	display: flex;
	align-items: center;
}
.image-slider{
	position: relative;
	width: auto;
	padding:0px 140px;
	min-width: 600px;
	overflow-x: auto;
	white-space: nowrap;
	scroll-behavior: smooth;
	height: auto;
	scroll-snap-type:x mandatory ;
	min-height: 500px;

}
.slide-images{
	display: flex;
	aspect-ratio: 0 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	column-gap: 25px;
}
.box-images{
	width: 20%;
	height: auto;
	min-height: 400px;
}
.image-group{
	overflow: hidden;
	transition: all .2s ease-in-out;
	position: relative;
}
.image-group::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
  width: 100%;
	height: 100%;
  opacity: 0;
  transition: all .2s ease-in-out;
	background: rgba(0, 0, 0, .7);
}
.image-group:hover::before{
	opacity: 1;
}

.bx-play-circle{
    display: inline-block;
    position: absolute;
    top: 0%;
    left: 0%;
    color: red;
    width: 100%;
    height: 100%;
    font-size: 60px;
    opacity: 0;
      transition: all .2s ease-in-out;
}
.bx-play-circle::before{
	content: "";
	position: absolute;
	top: 50%;
   left: 40%;
   transition: all .2s ease-in-out;
}
.bx-play-circle:hover{
	opacity: 1;
}
.typ{
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}
.imgcontainer{
	flex-basis: 80%;
}
.movie-about-container h1{
	color: white;
}
.box-images img{
	flex: 1 0 100%;
	width: 300px;
	user-drag: none;
  user-select: none;
  user-select: none;
  pointer-events: none;
	cursor: pointer;
	scroll-snap-align: start;
	height: 500px;
	object-fit: cover;
}
.slide-images::-webkit-scrollbar {
  display: none; 
}
.img10{
	margin-right: 25px;
}
.button-slide a{
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	 background:rgba(255, 255, 255, .8);		

}
.button-slide a::before{
	content: "";
  position: absolute;
 	width: 64px;
	height: 64px;
	scale: 0;
	border-radius: 50%;
  background:rgba(0, 0, 0, .8);		
  transition: .2s ease-in-out;
}

.button-slide a:hover::before{
	background: linear-gradient(90deg, rgba(255,0,198,1) 0%, rgba(241,9,130,1) 47%, rgba(226,19,40,1) 100%);
	scale: 1;
}  
.right,.left{
  position: absolute;
}
.right {
	right: 4%;
	bottom: 50%;
}
.left{
	left: 3%;
	bottom: 50%;
}
.bxs-chevron-left, .bx-chevron-right{
	font-size: 50px;
	font-weight: 600;
	background: rgba(255, 255, 255, 80);
	border-radius: 50%;
	transform:translate(6px, 7px);
}
.upper-text h1{
	padding-top: 3px;
	font-size: 40px;
	display: inline-block;
	color: white;
	font-family: "roboto",sans-serif;
}
.upper-text i{
	font-size: 68px;
	color: red;
	font-weight: 900;
	margin-left: 0px;
}
.footer{
	width: 100%;
	height: auto;
	min-height: 70vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 40px;
}
.ready-to{
	width: 100%;
	height: 30vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	row-gap: 20px;
	align-items: center;
}
.ready-to h1, .ready-to h2 {
	color: white;
	font-family: "Rubik", sans-serif;
	font-weight: 500;
}
.elements-for-input{
	width: 100%;
	padding-left:33%;
}
.ready-to input{
	width: 40%;
	background: rgba(0, 0, 0, .5);
	border: 1px solid grey;
	font-size: 20px;
	height: 60px;
	color: white;
	padding: 3px 10px;
	outline: none;
	border-radius: 10px;
}
.ready-to button{
	padding: 0;
}
.about-company{
	width: 100%;
	height: auto;
	min-height: 50vh;
	display: flex;
	align-items: center;
	flex-direction: row;
}
.netflix-logos, .company, .resources, .legal{
	flex-basis: 25%;
	height: auto;
	min-height: 500px;
}
.netflix-logos{
	display: flex;
	align-items: flex-start;
	padding: 3%;
	padding-top: 0%;
	justify-content: flex-start;
	flex-direction: column;
}
.netflix-logos img{
width: 50%;
}
.netflix-logos p{
	color: white;
	text-decoration: underline;
	font-size: 25px;
	margin-top: -39px;
}
.netflix-logos .number{
	margin-top: 12px;
  font-size: 22px;
	text-decoration: none;
}
.social-logos{
	width: 70%;
	margin-top: 30px;
	display: flex;
	height: 200px;
}
.social{
	font-size: 40px;
	color: white;
	cursor: pointer;
	margin-left: 15px;
}
.social-logos i{
	height: fit-content;
}
.social::before{
	position:relative;
	content: "";
	display: inline-block;
  transition: all .3s ease-in-out;
  border-radius: 50%;
  width: 53px;
  height: 53px;
  transform: translate(-50%, -10%);	
}
.bxl-facebook:hover::before{
	color: #106afe;
}
.bxl-twitter:hover::before{
	color: #24a4f2;
}
.bxl-instagram:hover::before{
	color: #c33b88;
}
.company, .resources, .legal{
	color: white;
	display: flex;
	gap: 35px;
	justify-content: flex-start;
	flex-direction: column;
	font-family: "Rubik",sans-serif;
	padding: 20px 10px;
}
.company h1,.resources h1,.legal h1{
	font-weight: 500;
	position: relative;
	font-size: 20px;
	color: #c1c1c1;
	cursor: pointer;
	width: fit-content;
}
.company strong,.resources strong,.legal strong{
	font-size: 25px;
	color: white;
}
.for-und::before{
	position:absolute;
	content: "";
	bottom: -10px;
	width: 0%;
	height: 4px;
	transition: all .3s ease-in-out	;
	background: linear-gradient(294deg, rgba(255,0,0,1) 0%, rgba(17,36,203,1) 100%);
}
.for-und:hover::before{
	width: 100%;
}